@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
/* ============= Reusable code ================= */
:root{
    --color-primary: #FF0000;
    --radius-primary: 16px;
}

.color-primary{
    color: #FF0000;
}

.section-title{
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;

}

.section-subtitle{
    font-size: 48px;
    font-weight: 48px;
}

.section-description{
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}


.btn-primary{
    padding: 16px 32px;
    font-size: 18px;
    background-color: #FF0000;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &&:hover{
        background-color: #a80808;
        transform: scale(1.05);
    }
}

/* ============= Hero code ================= */

header{
    max-width: 1320px;
    margin: 20px auto;
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/Banner\ Image.png);
    padding:177px 344px ;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 50px auto;
    border-radius: 16px;
    text-align: center;
    color: #ffff;
}

.hero-subtitle{
    font-size: 36px;
}

.hero-title{
    font-size: 72px;
    margin-top: 16px;
}

/* ============= Main ================= */

main{
    max-width: 1320px;
    margin: 20px auto;
}


main section{
    margin: 140px 0;
}

.offer-section{
    text-align: center;
    text-transform: uppercase;
}


/* ============= welcome banner ================= */

.welcome-banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-primary);
    color: #fff;
}

.welcome-title{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;

}


.welcome-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;

}

/* ============= Joining Section ================= */

.joining-section{
    padding: 100px 385px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.322),rgba(255, 0, 0, 0) 100%);
    text-align: center;
}



.joining-section h5{
    font-size: 32px;
    margin-bottom: 24px;

}

.text-color{
    color: #FF0000;
}

/* ========== Coming Section ========== */

.coming-section{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.coming-section .coming-text{
    width: 35%;
}

.coming-subtilte{
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 24px;
}

.coming-img{
    border:  10px solid #FF0000;
    border-radius: 50%;
    padding: 25px;
    margin: 0 30px;
}

.coming-description{
    font-size: 20px;
    color: #5f5e5fcc;
    margin: 24px 0;
}

/* ========== Holyday Section ========== */

.holyday-text{
    text-align: center;

}

.holyday-title{
    font-size: 72px;

}

.holyday-image{
    background-image: url(./assets/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    margin-top: 500px;
    position: relative;
}

.holyday-image .image-1{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.holyday-image .image-2{
    position:static;
    bottom: 250px;
    right: 150px;
}

/* ========== gift Section ========== */

.gift-text p{
    font-size: 20px;
    color: #6e6e6e;
    margin-top: 24px;
    max-width: 70%;
    margin-bottom: 40px;
}

.gift-image img{
    margin: 5px 5px;
}